.App {
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #16699e, #17a140);
  color: white;
  height: 150px;
  font-size: 50px;
  
}

form {
  display: flex;
  justify-content: space-around;
  height: 50px
}

input {
  flex: 1 1 95%;
  margin: 0 10px;
  padding-left: 10px;
  outline: none;
}

a {
  margin: 0 10px 0 5px;
  flex: 1 0 5%;
  display: flex;
  justify-content: center;
  align-content: center;
  color: white;
  display: inline-block;
  /* background: linear-gradient(to right, #17a100, #17a140); */  
  background: linear-gradient(to right, #17a100, #16699e, #17a140);
  background-size: 400%;
}

a:hover {
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

.icon-flipped {
  padding-top: 10px;
  font-size: 30px;
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
}
